body {
  font-family: "Oswald", sans-serif;
  margin: 0%;
}
h1 {
  font-size: 50px;
}
h3{
  font-size: 25px;
}
.orange-color {
  color: rgb(122, 85, 15);
}
.flexible-container {
  display: flex;
  margin-bottom: 100px;
}
.half-width {
  width: 50%;
  padding: 2%;
  text-align: justify;
}
.half-width img {
  width: 80%;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 20px;
  color: white;
  font-weight: 400;
  border-radius: 5px;
}
.top-banner {
  background-image: url(top-banner.png);
  background-repeat: no-repeat;
}
.our-dreams{
background-image: url(dream-bg.png);
background-repeat: no-repeat;
background-position: right;
text-align: justify;
}
.half-border{
  border: 2px solid orangered;
  width: 80%;
  padding: 0 13px;
}
.h1{
  margin: 20px 0;
}
.Chocolate-color{
  color: rgba(65, 6, 28, 0.685);
}
.aqua-color{
  color: rgb(16, 39, 39);
}
.road-to-two-years{
  background-image: url(exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;

}
.bigining-item{
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 40px gray;
  text-align: justify;
}
.bigining-item p{
  padding-right: 10px;
}
#development-id{
  border-left: 7px solid;
  border-image: linear-gradient (blue, magenta);
  border-image-slice: 1;
}
#full-development{
  border-left: 7px solid;
  border-image: linear-gradient (cyan, green);
  border-image-slice: 3;
}
footer p{
  text-align: center;
}